<div class="work-feature-block row">
  <%if @sprites["front_default"].present? %>
    <%= image_tag (@sprites["front_default"]), class: "work-feature-block-image" %>
  <%end%>
  <%if @sprites["back_default"].present? %>
    <%= image_tag (@sprites["back_default"]), class: "work-feature-block-image" %>
  <%end%>
  <h2 class="work-feature-block-header text-center"><strong><%= @pokemon["name"].capitalize %></strong></h2>
</div>
<div class="work-feature-block row">
  <div class="col-xs-12">
    <label>Peso:</label>
    <p><%= @pokemon["weight"] %></p>
    <label>Altura:</label>
    <p><%= @pokemon["height"] %></p>
    <label>Especies:</label>
    <ul>
      <li><%= @species["name"].capitalize %></li>
    </ul>
    <label>Habilidades:</label>
    <ul>
      <% @abilities.each do |ability| %>
        <div class="col-sm-3 col-lg-3">
          <li><%= ability["ability"]["name"].capitalize %></li>
        </div>
      <%end%>
    </ul>
    </br>
    <label>Movimientos:</label>
    <ul>
      <% @moves.each do |move| %>
        <div class="col-sm-3 col-lg-3">
          <li><%= move["move"]["name"].capitalize %></li>
        </div>
      <%end%>
    </ul>
  </div>
</div>
<div class="row">
  <%= link_to root_path, class:"btn btn-success btn-lg btn-block" do%>
    Volver
  <%end%>
</div>